@import url(https://fonts.googleapis.com/css?family=Montserrat);

h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    float: right;
}

h2 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
}

h2 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
}

body {
    background: black;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.hiddenManagerButton {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
    position:absolute;
    top:60px;
    left:1250px;
}

.managerButton {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
    padding:left:50px;
}

.runningOrder {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
}

.viewingOrder {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
}

.button {
    border-radius: 100px;
    border-size: thin;
    border-color: black;
}

.goBackButton {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
    width: 75px;
}

.viewCartButton {
    border-radius: 20px;
    border-size: thin;
    border-color: black;
    width: 75px;
    height:20px;
}