@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background: black;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
}

.categoryDropDown {
    border-radius: 10px;
    background: rgb(215, 215, 215);
}

.searchInput {
    background: rgb(255, 255, 255);
    border-width: thin;
    border-color: black;
}

.search #searchButton {
    border-radius: 0px;
    background: rgb(255, 255, 255);
    margin-left: 0px;
    padding-left: 0px;
    border-width: thin;
    border-color: black;
}
