@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

.imageFigure {
    float: left;
    width: 25%;
    padding: 5px;
}

.goBackButton {
    position:absolute;
    top: 0%;
    left: 95%;
    border-radius: 20px;
    width: 75px;
}

.viewCartButton {
    position:absolute;
    top: 3%;
    left: 95%;
    border-radius: 20px;
    width: 75px;
    height:20px;
}

figure {
    text-align: center;
    visibility: visible;
    margin-top: 20px;
    position: absolute;
    top: 40%;
    left: 4%;
}

.image {
    background: black;
    color: white;
    text-align: justify;
    width: 20%;
    float: left;
    width: 20%;
    padding: 5px;
}

h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
}

.categoryDropDown {
    border-radius: 10px;
    background: rgb(215, 215, 215);
}

.searchInput {
    background: rgb(255, 255, 255);
    border-width: thin;
    border-color: black;
    width: 10%;
}

.search #searchButton {
    border-radius: 0px;
    background: rgb(255, 255, 255);
    margin-left: 0px;
    padding-left: 0px;
    border-width: thin;
    border-color: black;
}
